services:
  trigger-fetch:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/trigger-fetch
    env_file:
      - ./.env
      - ./dispatchers/trigger-fetch/.env
    command: npm run trigger-fetch
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  courier-service:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/courier-service
    env_file:
      - ./.env
      - ./dispatchers/courier-service/.env
    command: npm run courier-service
    restart: unless-stopped
    networks:
      - evola

  contract-watcher:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/contract-watcher
    env_file:
      - ./.env
      - ./dispatchers/contract-watcher/.env
    command: npm run contract-watcher
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  fetch-contracts:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/fetch-contracts
    env_file:
      - ./.env
      - ./workers/fetchContracts/.env
    command: npm run fetchContracts
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  process-contract:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/process-contract
    env_file:
      - ./.env
      - ./workers/processContract/.env
    command: npm run processContract
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  contract-created:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/contract-created
    env_file:
      - ./.env
      - ./workers/contractCreated/.env
    command: npm run contractCreated
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  contract-updated:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/contract-updated
    env_file:
      - ./.env
      - ./workers/contractUpdated/.env
    command: npm run contractUpdated
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  contract-completed:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/contract-completed
    env_file:
      - ./.env
      - ./workers/contractCompleted/.env
    command: npm run contractCompleted
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  update-corporation:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/update-corporation
    env_file:
      - ./.env
      - ./workers/updateCorporation/.env
    command: npm run updateCorporation
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

  update-member:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/update-member
    env_file:
      - ./.env
      - ./workers/updateMember/.env
    command: npm run updateMember
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola
  
  send-eve-mail:
    build:
      context: .
      dockerfile: dockerfile
    image: evolaeve/send-eve-mail
    env_file:
      - ./.env
      - ./workers/sendEveMail/.env
    command: npm run sendEveMail
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"
    networks:
      - evola

networks:
  evola:
    external: true
    name: evola